.Joke {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #787878;
  font-weight: 400;
  padding: 1rem 0.5rem;
}

.Joke-voteline {
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

.Joke-voteline span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  border: 0.2rem solid;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.2);
}

.vote-btn {
  font-size: 1.5rem;
  margin: 0.6rem;
  cursor: pointer;
  background: inherit;
  border: none;
  color: #787878;
  transition: all 0.3s;
}

.upvote-btn:hover {
  animation: move-up 0.7s ease-out;
  color: green;
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}

.downvote-btn:hover {
  animation: move-down 0.7s ease-out;
  color: red;
}

@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}

.vote-btn[disabled] {
  color: lightgray;
  cursor: not-allowed;
}

.Joke-text {
  width: 60rem;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.Joke-smiley {
  font-size: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.2);
}

.Joke-smiley:hover {
  animation-name: rot;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
