.JokeList {
  width: 80%;
  height: 80%;
  display: flex;
}

.JokeList-sidebar {
  background: #4056a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3),
    inset 0 0 25px #4056a1;
  z-index: 2;
}

.JokeList-sidebar h1 {
  font-size: 4rem;
  margin: 2rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.JokeList-sidebar h1 span {
  font-weight: 700;
  letter-spacing: 0;
}

.JokeList-sidebar img {
  width: 13rem;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3),
    inset 0 0 25px #4056a1;
}

.JokeList-jokes {
  width: 75rem;
  height: 90%;
  background: white;
  align-self: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 10px 0;
}

.JokeList-spinner {
  font-size: 2rem;
  margin: 1rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  text-align: center;
  height: 7rem;
  width: 7rem;
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
